<div class="container">
  <div class="text-center mt-4">
      <button class="btn btn-danger" (click)="addStudent()"> Add Student</button>
  </div>
<div class="text-center mt-5" *ngFor="let student of students; let i = index">
  <h4>Student</h4>
  <input class="" type="text" [(ngModel)]="student.name" placeholder="StudentName"><br>
  <button class="mt-5" (click)="addExams(i)">Add Exams</button>
  <div class="mt-3" *ngFor="let exam of student.exams">
    <input type="text" [(ngModel)]="exam.subjectName" placeholder="exam">
  </div>

</div>
</div>

<router-outlet></router-outlet>
